body {
    background: aliceblue;
}

footer {
    padding: 10px;
    color: white;
    background-color: #5bb318;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
